
body {
    margin: 0 0 80px 0;
}

.footer-fixed-bottom {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 60px;
    padding: 20px;
    background-color: aliceblue;
    border-top: 1px solid darkblue;
}

.jumbotron-danger {
    background-color: lightpink;
    border: 1px solid darkred;
    box-shadow: 2px 2px;
}